.headclass {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    border: solid 1px black;
    font-size: 50pt;
}
.btn-class {
    border: solid 1px indianred;
}
.clocksign{
    	font-family:"Indie Flower";
        border: solid 1px midnightblue;
        width: 300px;
        font-size: 20pt
    }
.selectclass{
    font-family:"Calligraffitti";
    border: solid 1px crimson;
    width: 70px;
}
.clockstyle{
    	font-family:"Lato";
}
